<% layout('/layouts/boilerplate') %>
<form action="/campgrounds/<%= cg._id %>?_method=PUT" method="post">
    <label for="nameInput">Name:&nbsp;</label><input type="text" name="name" id="nameInput" value="<%= cg.name %>">
    <label for="locInput">Location:&nbsp;</label><input type="text" name="location" id="locInput" value="<%= cg.location %>">
    <button>Submit</button>
</form>
<a href="/campgrounds/<%= cg._id %>">Back to detail</a>
