<% layout('/layouts/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>Uh-oh, looks like you've encountered a <%= statusCode %> error.</p>
    <hr>
    <p class="mb-0"><%= stack %></p>
</div>