<% layout('/layouts/boilerplate') %>
    <h1>All campgrounds</h1>
    <a href="/campgrounds/new">New campground</a>
    <ul>
        <% for (let cg of cgs) { %>
        <li>
            <a href="/campgrounds/<%= cg._id %>"><h3><%= cg.name %></h3></a>
            <p><%= cg.location %></p>
        </li>
        <% } %>
    </ul>
