<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New campground</title>
</head>
<body>
<form action="/campgrounds/new" method="post">
    <label for="nameInput">Name:&nbsp;</label><input type="text" name="name" id="nameInput">
    <label for="locInput">Location:&nbsp;</label><input type="text" name="location" id="locInput">
    <button>Submit</button>
</form>
</body>
</html>