<% layout('/layouts/boilerplate') %>
<form action="/campgrounds/new" method="post">
    <label for="nameInput">Name:&nbsp;</label><input type="text" name="name" id="nameInput">
    <label for="locInput">Location:&nbsp;</label><input type="text" name="location" id="locInput">
    <button>Submit</button>
</form>
<a href="/campgrounds">Back</a>
