<% layout('/layouts/boilerplate') %>
<h3>Add some review here!</h3>
<form action="/campgrounds/<%= cg._id %>/reviews" method="post" novalidate class="needs-validation">
    <div class="row">
        <div class="col-6">
            <label for="text" class="form-label mb-3">Review:</label>
            <textarea id="text" name="text" class="form-control mb-3" required></textarea>
            <div class="valid-feedback">Good!</div>
            <div class="invalid-feedback">Please enter some text.</div>
            <label for="rating" class="form-label mb-3">Rating:</label>
            <input type="range" id="rating" name="rating" class="form-range mb-3" min="0" max="5" step="0.5" list="tickmarks">
            <datalist id="tickmarks">
                <option value="0" label="0"></option>
                <option value="0.5"></option>
                <option value="1"></option>
                <option value="1.5"></option>
                <option value="2"></option>
                <option value="2.5" label="2.5"></option>
                <option value="3"></option>
                <option value="3.5"></option>
                <option value="4"></option>
                <option value="4.5"></option>
                <option value="5" label="5"></option>
            </datalist>
        </div>
    </div>
    <button class="btn btn-secondary mb-3">Submit</button>
</form>
<a href="/campgrounds/<%= cg._id %>" class="btn btn-info">Back to campground detail</a>
