<% layout('/layouts/boilerplate') %>
<h3>Add some review here!</h3>
<form action="/campgrounds/<%= cg._id %>/reviews" method="post" novalidate class="needs-validation">
    <div class="row">
        <div class="col-6">
            <label for="text" class="form-label mb-3">Review:</label>
            <textarea id="text" name="text" class="form-control mb-3" required></textarea>
            <div class="valid-feedback">Good!</div>
            <div class="invalid-feedback">Please enter some text.</div>
            <fieldset class="starability-coinFlip mb-3">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <input type="hidden" name="campground" value="<%= cg._id %>">
            <input type="hidden" name="author" value="<%= currentUser._id %>">
        </div>
    </div>
    <button class="btn btn-outline-secondary mb-3">Submit</button>
</form>
<a href="/campgrounds/<%= cg._id %>" class="btn btn-outline-info">Back to campground detail</a>
