<% layout('/layouts/boilerplate') %>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://unsplash.com/photos/F4fH5dAfZnE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjJ8fGNhbXBpbmd8ZW58MHx8fHwxNjYzMDY5NDkz&force=true" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="post" class="needs-validation" novalidate>
                        <div>
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div>
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <div>
                            <label for="repeat_password" class="form-label">Repeat your password</label>
                            <input type="password" id="repeat_password" name="repeat_password" class="form-control" required>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
